* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

body {
  overflow: hidden;
}

.carrossel {
  padding: 97px 0 0 122px;
  position: relative;
}

.carrossel__titulo {
  font-size: 32px;
  line-height: 41px;
  color: #093366;
  margin-bottom: 30px;
}

.carrossel__lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  transition: transform 0.1s;
  transform: translate(0);
  overflow: scroll;
  scroll-behavior: smooth;
}

.carrossel__lista::-webkit-scrollbar {
    display: none;
}

.carrossel__item {
  padding: 34px 22px;

  background: #ffffff;
  border: 1px solid #f2f7fe;
  box-shadow: 4px 4px 20px rgba(120, 135, 182, 0.1);
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 19.6875rem;
}

.carrossel__item > img {
  margin-bottom: 30px;
}

.carrossel__item h2 {
  font-size: 16px;
  line-height: 18px;
  color: #093366;

  margin-bottom: 49px;
}

.carrossel__item div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.carrossel__item div span {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  color: #bec8d8;
}

.carrossel__setas {
  position: absolute;
  top: 6.375rem;
  right: 7.4375rem;
  display: flex;
  gap: .625rem;
}

.carrossel__setas button {
  background: transparent;
  border: none;
}

.carrossel__setas button:hover {
  opacity: 0.8;
}

.carrossel__setas button:disabled {
  opacity: 0.8;
}

.carrossel__setas button:hover {
  cursor: pointer;
}

@media (max-width: 48rem) {
  .carrossel {
    padding: 3.125rem 1.875rem;
    position: relative;
  }


  .carrossel__setas {
    top: 3.4375rem;
    right: 1.875rem;
  }
}

@media (max-width: 30.3125rem) {
  .carrossel__lista {
    position: relative;
  }

  .carrossel__setas {
    position: static;
    justify-content: space-between;
    
    margin-bottom: .9375rem;
  }

  .carrossel__item {
    width: 80%;
  }
}